@{
    ViewBag.Title = "TCharts Prototype";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Graphical Practice</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<style>
    svg {
        border: solid 1px lightgray;
        /*margin: 10px;*/
    }
    /*Override site style*/
    g.label {
        font-weight: normal;
    }
</style>
<h2>TCharts Prototype</h2>
<div>
    <h3>Fuel Economy (Quartile plot)</h3>
    <div id='fuel_quartile'></div>
</div>
@section scripts {
    <script type="text/javascript" src="Scripts/TCharts.js"></script>
    <script type="text/javascript">
        d3.csv("../mtcars.csv.txt", function (data) {
            var mpg = data.map(function (x) { return parseFloat(x.mpg); });
            var mpg2 = data.map(function (x) { return parseFloat(x.mpg) * (0.4 + Math.random()); });
            var mpg3 = data.map(function (x) { return parseFloat(x.mpg) * (1 + Math.random()); });
            var chartData = [mpg, mpg2, mpg3];
            var labels = ["Subaru", "Toyota", "Honda"];

            var c = (new QuartilePlot({
                containerSelector: "#fuel_quartile",
                autoHeight: true,
                width: 500,
                margin: {
                    left: 15
                },
                datum: {
                    stroke: "red",
                    fill: "black"
                }
            })).data(chartData).labels(labels).render();
        });
    </script>
}
